@model demo_part2.Models.Register

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <!--form to register-->
    <form method="post" asp-action="Register_user">

    </form>

</div>
