
@model demo_part2.Models.Check_login
   

@{
    ViewData["Title"] = "Login Page";
}

<div class="text-center">
    <form asp-action="login_user" method="post">
        <labe>Email</labe>
        <input type="email" asp-for="Email" required />

        <label>Role: </label>
        <select asp-for="Role" required>
            <option selected disabled> select role here</option>
            <option value="student">Student</option>
            <option value="lecture">Lecture</option>
            <option value="pm">PM</option>
        </select>
        <br />

        <label>Password: </label>
        <input type="password" asp-for="Password" required />
        <br />

        <input type="submit" value="Login" />


    </form>
</div>